.footer{
    height: 40vh;
    border-top: 1.5px solid white;
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footer-links{
    display: flex;
    gap: 2rem;
}
.footer-menu{
    color:var(--text);
}